<!DOCTYPE html>
<html>  
<head>
	<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>  
    <title>Upload</title>  
</head>  
<body>
	<nav class="navbar navbar-inverse" style="background-color: black">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#" style="color: white">License Plate Detector</a>
	    </div>
	  </div>
	</nav>
	<div class="container mt-3">
    <form action = "/success" method = "post" enctype="multipart/form-data" class="md-form">
    	<div class="custom-file mb-3">
	      <input type="file" class="custom-file-input" id="customFile" name="file">
	      <label class="custom-file-label" for="customFile">Choose file</label>
    	</div>
    	<div class="mt-3">
      		<button type="submit" class="btn btn-primary">Submit</button>
    	</div>
    </form>
    </div>
    <script>
		$(".custom-file-input").on("change", function() {
		  var fileName = $(this).val().split("\\").pop();
		  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
	</script>  
</body>  
</html> 